.category__cards {
	background-color: var(--primary-background-color);
	height: 45rem;
	margin-top: 3.2rem;
	padding: 4rem;
	gap: 5rem;
}

.heading__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.categories__title {
	font-size: 6rem;
	text-align: center;
	color: var(--text-color-primary);
	margin-top: 6rem;
}

.dropDown__label {
	font-size: 2rem;
	margin-right: 2rem;
}

.dropDown {
	margin-top: -1.2rem;
	height: 2.4rem;
	width: 10rem;
}

.dropDown > option:hover {
	background-color: var(--primary-background-color);
}

.utils__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}
