.page__container {
    height: 100vh;
    background-color: #FBAB7E;
}

.form__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.page__heading__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    gap: 1.6rem;
}

.page__heading {
    color: var(--text-color-primary);
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0;
}